os: linux
dist: xenial
language: shell

env:
  global:
    - PERIBOLOS_TAG=v20200826-f9138eb980

jobs:
  include:
    - stage: verify-email
      script:
        - echo "VERIFY"
        - AUTHOR_EMAIL=$(git log -1 $TRAVIS_COMMIT --pretty="%aE")
        - echo $AUTHOR_EMAIL
        - if [[ $AUTHOR_EMAIL =~ ^[a-z.]+@baloise\.[a-z]{2,3}$ ]]; then echo "Commit with invalid email (should be '@baloise.TLD') ${AUTHOR_EMAIL}"; exit 1; fi
        #- if [[ ! $COMMITTER_EMAIL =~ ^[a-z.]+@baloise\.[a-z]{2,3}$ ]]
        #- then
        #-   echo "Commit with invalid email (should be '@baloise.TLD'): $COMMITTER_EMAIL"
        #-   exit 1
        #- fi
    - stage: peribolos
      services: docker
      script:
        - echo "PERIBOLOS"

stages:
  - name: verify-email
    if: branch = main #AND type = pull_request # only on PRs to master
  - name: peribolos
    if: branch = main AND type = push
